<!-- Top Banner Section -->
<div class="container-fluid bg-secondary text-white py-2">
    <div class="d-flex align-items-center justify-content-between">
        <div >
            <b>Tisco Vision</b>
        </div>
        <div class="text-center mx-auto">
            Find the ideal gift for the real one
        </div>
    </div>
</div>

<!-- Full-Width Image Section -->
<div class="container-fluid p-0">
    <img src="{{ 'Frame 1957.png' | asset_img_url }}" class="img-fluid" alt="Frame 1957" style="width: 100%;">
</div>

<!-- Content Section -->
<div class="container-fluid py-4">
    <div class="row g-4">
        <!-- Text Content -->
        <div class="col-lg-6">
            <div class="text-black p-4 h-100">
                <h1 class="display-4 text-center mb-4"><b>The Gift Guide</b></h1>
                <p class="fs-5 ms-5">Discover joy: Your Ultimate Holiday Gift Destination.</p>
                <p class="fs-5 ms-5">Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>
            </div>
        </div>
        <!-- Image Content -->
        <div class="col-lg-6">
            <img src="{{ 'second.png' | asset_img_url }}" class="img-fluid" alt="Second Image" style="width: 100%;">
        </div>
    </div>
</div>

<!-- Bottom Banner Section -->
<div class="container-fluid bg-secondary text-white py-2">
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-center">
            <b>SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZE XXS TO 6XL</b>
        </div>
    </div>
</div>

<!-- Product Section -->
<h2 class="my-4" style="margin-left: 10px;">Tisco Vision in the Wild</h2>
<div class="container-fluid">
    <div class="row">
        {% for product in collections['frontpage'].products %}
        <div class="col-sm-12 col-md-6 col-lg-4 ">
            <div class="card my-3 p-3 rounded">
                {% comment %} div abslolue zindex onlcick listener  {% endcomment %}
                <div className="modal-body">
                    <div class="card-body "style="position:realtive" >
                      <div style="position: absolute; top:50%; right:50%;left:50%; z-index:1;" >+</div>  
                    <img src="{{product.featured_image | image_url }}" alt="{{ product.title }}" class="card-img-top product-image"  style="margin-top: -50px;"/>
               
                </div>
                   </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>

