<div class="container-fluid bg-secondary text-white py-2">
    <div class="d-flex align-items-center">
        <div class="me-3">
            <b>Tisco Vission</b>
        </div>
        <div class="text-center">
            Find the ideal gift for the real one
        </div>
    </div>
</div>

<!-- Image Section -->
<div class="container-fluid p-0" >
    <img src="{{ 'Frame 1957.png' | asset_img_url }}" class="img-fluid" alt="Frame 1957" style="width: 100%;">
</div>

<!-- Content Section -->
<div class="container-fluid py-4">
    <div class="row g-4">
        <!-- Text Content -->
        <div class="col-lg-6">
            <div class="tex-black p-4 h-100">
                <h1 class="display-4 text-center mb-4"><b>The Gift Guide</b></h1>
                <p class="fs-5 ms-5">Discover joy: Your Ultimate Holiday Gift Destination.</p>
                <p class="fs-5 ms-5">Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>
            </div>
        </div>
        <!-- Image Content -->
        <div class="col-lg-6">
            <img src="{{ 'second.png' | asset_img_url }}" class="img-fluid" alt="Second Image" width="100%">
        </div>
    </div>
</div>